<div class="container p-0">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-primary">
    <div class="container justify-content-start align-items-center">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo-test-ta.svg", class:"border border-white" %>
      <% end %>
        <h2>Hackernews</h2>

  </div>
</div>
